$primaryColor:#BD3436;

header{
    padding-block: 20px ;
    background: $primaryColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .profile{
        display: flex;
padding: 5px 14px 5px 7px;
align-items: center;
gap: 4px;
border-radius: 31px;
background: #FFF;
&-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
    }
}